.button {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  border: 2px solid #414141;
}

.button:hover {
  opacity: 0.5;
}

.button-link {
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.button-background {
  background-color: #000000;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
