* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ysabeau";
  transition: 0.2s all;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Izhitsa";
}

a:hover {
  opacity: 0.5;
}

.logo {
  float: left;
  margin-right: 20px;
  margin-bottom: 0px;
}

.content-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

img {
  border-radius: 15px;
}
